// colors
$base-color: #393185;
$pink: #e50a62;

// sizes
$tablet-width: 768px;
$desktop-width: 1200px;
$desktop-big-width: 1240px;

//fonts
$opensans: "Open Sans", "Arial", sans-serif;
$oswald: "Oswald", "Verdana", sans-serif;
