.button {
  display: inline-block;
  width: 207px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  background-color: $pink;
  color: white;
  border: 2px solid $pink;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: $pink;
  }

  &:active {
    color: $pink;
    background-color: white;
    box-shadow: 0 0 5px 0 $pink;
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 21px;
  }
}
