.contacts__wrapper {
  &_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    &_flex {
      flex-direction: row;
      justify-content: center;
    }
  }
}

.contacts__table {
  border-collapse: collapse;
}

.contacts__row {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.contacts__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 45px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border: 3px solid $light-blue;
  background-repeat: no-repeat;
  box-sizing: border-box;

  &_phone {
    background-image: url("../img/phone-big.png");
    background-position: 80px 133px;
  }

  &_mail {
    background-image: url("../img/mail-big.png");
    background-position: 79px 151px;
  }

  &_pin {
    background-image: url("../img/pin-big.png");
    background-position: 94px 132px;
  }

  &:hover {
    border-color: $pink;
    box-shadow: 0 34px 49px 0 rgba(229, 10, 98, 0.16);
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-bottom: 20px;

    &_phone {
      background-position-x: 64px;
    }

    &_mail {
      background-position-x: 63px;
    }

    &_pin {
      background-position-x: 79px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 309px;
    margin-bottom: 0;

    &_phone {
      background-position-x: 90px;
    }

    &_mail {
      background-position-x: 89px;
    }

    &_pin {
      background-position-x: 104px;
    }
  }
}

.contacts__text {
  margin: 0;
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 20px;
  color: $gray;
  text-align: center;
}

.contacts__link {
  display: block;
  font-weight: bold;
  color: $base-color;
  text-align: center;

  &_big {
    margin-top: 3px;
    margin-bottom: 172px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }

  &:hover {
    color: $pink;
  }
}

.contacts__span {
  font-weight: normal;
  color: #9ea3c4;
  text-align: center;
  text-decoration: underline;
}
