.page-main__promo {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-align: center;

  &--one {
    padding-top: 47px;
    padding-bottom: 48px;
  }

  &--two {
    padding-top: 41px;
    padding-bottom: 41px;
  }

  &--three {
    padding-top: 47px;
    padding-bottom: 48px;
  }

  @media (min-width: $tablet-width) {
    &--one {
      padding-top: 94px;
      padding-bottom: 75px;
    }

    &--two {
      padding-top: 43px;
      padding-bottom: 67px;
    }

    &--three {
      padding-top: 92px;
      padding-bottom: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    &--one {
      padding-top: 91px;
      padding-bottom: 88px;
    }

    &--two {
      padding-top: 6px;
      padding-bottom: 67px;
    }

    &--three {
      padding-top: 92px;
      padding-bottom: 84px;
    }
  }
}

.page-main__text {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  line-height: 30px;

  &--one {
    width: 253px;
  }

  @media (min-width: $tablet-width) {
    width: 500px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;

    &--form {
      width: 780px;
    }
  }
}
